header {
    background-color: #d01f3c;
    color: #fff;
    padding: 10px 20px;
    height: auto;
}

.header-link {
    text-decoration: none;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    color: #fff;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.header-right a img {
    vertical-align: middle;
    margin-right: 5px;
}