<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <h1>GLOW CANVAS</h1>
    <p>Description of your business...</p>
    
    <h2>Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}" width="100">
                {{ product.name }} - UGX {{ product.price }}
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">Add to Cart</button>
                </form>
                <a href="{{ url_for('product', id=product.id) }}">View Details</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/view_cart"><button>View Cart</button></a>
</body>
</html>
