<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>

    {% include 'header.html' %}
    
    <h1>GLOW CANVAS</h1>
    <p>Glow canvas is beauty enterprise that offers makeup services for all ages and occasions from photoshoots to birthdays you name it we will give it a glow.

        Vision: To be east Africa's leading makeup artist brand in expressing boldness and beauty
        
        Mission: To offer high quality makeup services to our esteemed customer offering a fun loving and refreshing experience</p>

    <br>

    <p>
        Glow canvas is founded and managed by Balungi Anita. A makeup artist who started the business on 3 November 2023 as a creative outlet and share the art of sharing individuality and creativity through the power of makeup
    </p>
    
    <h2>Servies Offered</h2>
    <ul>
        {% for product in products %}
            <li>
                <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}" width="100">
                {{ product.name }} - UGX {{ product.price }}
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">Add to Cart</button>
                </form>
                <a href="{{ url_for('product', id=product.id) }}">View Details</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/view_cart"><button>View Cart</button></a>

    {% include 'footer.html' %}
</body>
</html>
