<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="static/product.css">
</head>
<body>
    <div class="container">
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
        <p class="description">Description of the product...</p>
        
        <form action="/add_to_cart" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="add-to-cart">Add to Cart</button>
        </form>
    </div>
</body>
</html>
